pre, pre * {
  white-space: pre;
}

.hidets span {
  display: none;
}
span.ts {
  margin-right: 1em;
  color: #444;
}

button.on {
  background-color: green;
  color: white;
}
button.off {
  background-color: darkgray;
  color: #444;
}
pre.wrap, pre.wrap * {
  white-space: pre-wrap;
}

.popup {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  /* margin: 10px; */
  position: absolute;
}

.hidden {
    display: none;
}
