<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/static/css/common.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/container.css" type="text/css" />
  </head>
  <body>
    <p><strong id="interval"></strong></p>
    <button type="button" onclick="follow();">⇊follow⇊</button>
    <button type="button" id="autoscroll" onclick="toggleScroll();">auto scroll</button>
    <button type="button" id="wraplines" onclick="toggleWrap();">line wrapping</button>
    <button type="button" id="timestamps" onclick="toggleTimestamps();">timestamps</button>
    <pre id="log" class="hidets"></pre>
  </body>
  <script>
    var conn_url="";
    if (window.location.protocol === "https:") {
      conn_url = "wss:";
    } else {
      conn_url = "ws:";
    }
    conn_url += "//" + window.location.host + "{{ .StreamURL }}";
  </script>
  <script type="text/javascript" src="/static/js/common.js"></script>
  <script type="text/javascript" src="/static/js/container.js"></script>
</html>
