<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>container</title>
    <link rel="stylesheet" href="/static/css/common.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/index.css" type="text/css" />
  </head>
  <body>
    <div>
      <p>
        | <input type=checkbox id=stdout checked onchange="indexApp.updateFields(event)"> stdout
        | <input type=checkbox id=stderr checked onchange="indexApp.updateFields(event)"> stderr
        | <input type=checkbox id=timestamps onchange="indexApp.updateFields(event)"> timestamps (download only)
        | <input type=checkbox id=follow checked onchange="indexApp.updateFields(event)">follow (view only)
      </p>
      <p>
        | tail:<input type="text" id=tail value="300" maxlength="8" size="6" onchange="indexApp.updateFields(event)">
        | since:<input type="text" id=since onchange="indexApp.updateFields(event)">
        | until:<input type="text" id=until onchange="indexApp.updateFields(event)">
      </p>
    </div>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <table>
      <tr>
        <th>Logs</th>
        <th>Name</th>
        <th>Status</th>
        <th>Command</th>
      </tr>
      {{ range .Containers }}
      <tr>
        <td class="nowrap">
          <button type="button" onclick="indexApp.viewLogs('{{ .ID }}');">view</button>
          <button type="button" onclick="indexApp.downloadLogs('{{ .ID }}');">dl</button>
        </td>
        <td class="nowrap">{{ .Name }}</td>
        <td class="nowrap">{{ .Status }}</td>
        <td>{{ .Command }}</td>
      </tr>
      {{ end }}
    </table>
    <p><button type="button" onclick="indexApp.downloadZip();">download all logs as zip file</button></p>
  </body>
  <script type="text/javascript">
    window.indexApp=new IndexApp();
  </script>
</html>
