<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>container</title>
    <style>
      body {
        font-family: 'Roboto Mono', monospace;
        font-size: 10pt;
      }
      td.nowrap {
        white-space: nowrap;
      }
    </style>
  </head>
  <body>
    <div>
      <p>
        | <input type=checkbox id=stdout checked onchange="updateFields(event)"> stdout
        | <input type=checkbox id=stderr checked onchange="updateFields(event)"> stderr
        | <input type=checkbox id=timestamps onchange="updateFields(event)"> timestamps (download only)
        | <input type=checkbox id=follow checked onchange="updateFields(event)">follow (view only)
      </p>
      <p>
        | tail:<input type="text" id=tail value="300" maxlength="8" size="6" onchange="updateFields(event)">
        | since:<input type="text" id=since onchange="updateFields(event)">
        | until:<input type="text" id=until onchange="updateFields(event)">
      </p>
    </div>
    <script>

      function isChecked(name) {
        return document.getElementById(name).checked;
      }

      function uncheck(name) {
        document.getElementById(name).checked = false;
      }
      function empty(name) {
        document.getElementById(name).value = "";
      }
      function hasText(name) {
        return document.getElementById(name).value !== "";
      }


      function updateFields(e) {
        var el = e.target;

        if (el.id == "since" && hasText("since")) {
          empty("tail");
          uncheck("follow");
        }
        if (el.id == "until" && hasText("until")) {
          empty("tail");
          uncheck("follow");
        }
        if (el.id == "tail" && hasText("tail")) {
          empty("since");
          empty("until");
        }
        if (el.id == "follow" && isChecked("follow")) {
          empty("since");
          empty("until");
        }
      }


      function checkbox(name) {
        if (document.getElementById(name).checked ) {
          return "&" + name + "=true"
        }
        return "&" + name + "=false"
      }
      function text(name) {
        if (document.getElementById(name).value === "") {
          return ""
        }
        return "&" + name + "=" + document.getElementById(name).value
      }
      function viewLogs(id) {
        window.location.href = "/containers?id=" + id + checkbox("stdout") + checkbox("stderr") + checkbox("follow") + text("tail") + text("since") + text("until");
      }

      function downloadLogs(id) {
        window.location.href = "/api/logs/download?id=" + id + checkbox("stdout") + checkbox("stderr") + checkbox("timestamps") + text("tail") + text("since") + text("until");
      }


    </script>
    <table>
      <tr>
        <th>Logs</th>
        <th>Name</th>
        <th>Status</th>
        <th>Command</th>
      </tr>
      {{ range .Containers }}
      <tr>
        <td class="nowrap">
          <button type="button" onclick="viewLogs('{{ .ID }}');">view</button>
          <button type="button" onclick="downloadLogs('{{ .ID }}');">dl</button>
        </td>
        <td class="nowrap">{{ .Name }}</td>
        <td class="nowrap">{{ .Status }}</td>
        <td>{{ .Command }}</td>
      </tr>
      {{ end }}
    </table>
  </body>
</html>
